    <!-- about -->
    <div id="about" class="container pt-5">
        <div class="container">
          <p style="color: #B54708;">Tentang Kami</p>
        </div>
        <div class="container d-lg-flex flex-row justify-content-between">
          <div class="col-lg-7"><h1>Central IKM UMKM Kecamatan Pujon</h1></div>
          <div class="col-lg-4 ps-lg-2">Didirikan pada tahun 2018, dengan tujuan mewadahi produk hasil olahan bumi masyarakat Pujon, agar bisa bersaing dikancah nasional dan internasional </div>
        </div>
        <div class="container pt-4">
          <div class="container p-5 d-flex flex-column flex-lg-row text-center justify-content-lg-around" style="background-color: #FFFCF5">
              <div class="">
                <h1>120+</h1>
                <p>Produk</p>
              </div>
              <div class="">
                <h1>44+</h1>
                <p>IKM dan UMKM</p>
              </div>
              <div class="">
                <h1>200+</h1>
                <p>Karyawan</p>
              </div>
          </div>
        </div>
      </div>