    <!-- hero -->
    <div id="hero" style="background-color:#FFFCF5">
        <div class="container text-center pt-3">
          <h1>Central IKM UMKM Kecamatan Pujon</h1>
          <p>UMKM Kuat Bangsa Berdaulat</p>
          <a type="button" href="/catalog.php" class="btn btn-warning">Lihat Katalog</a>
        </div>
        <div class="container-fluid img-fluid" style="background-image: url(https://lh3.googleusercontent.com/sGBJ-0sdwjWBCV0sKMH8RUMPUL1swfoRzSY20VdGg3B4wQfEwGvYp5rbprt1-38XIbI=w2400);">
          <div class="container text-center">
            <img src="https://lh5.googleusercontent.com/Bn5xreuBj6mPJRTcxGTJ9NnqK1gxyxyw_0vO3wbxurBnDnWEyXjB9KGtSzN4yt4TTrU=w2400" class="img-fluid pt-3" alt="">
          </div>  
        </div>
      </div>