    <!-- hero -->
    <div id="hero" style="background-color:#FFFCF5">
        <div class="container text-center pt-3">
          <h1>Central IKM UMKM Kecamatan Pujon</h1>
          <p>UMKM Kuat Bangsa Berdaulat</p>
          <a type="button" href="view/catalog.php" class="btn btn-warning">Lihat Katalog</a>
        </div>
        <div class="container-fluid img-fluid" style="background-image: url(http://drive.google.com/uc?export=view&id=11AtTbx2lcxJZMQqpH3ezZgGVtsoHkZ2M-);">
          <div class="container text-center">
            <img src="http://drive.google.com/uc?export=view&id=1OCGr-vMKHgVVdiX6yXP9GJtGp9QWYLll" class="img-fluid pt-3" alt="">
          </div>  
        </div>
      </div>