<!-- involved -->
<div id="involved">
    <div class="container pt-lg-5 pt-4">
      <div class="container rounded text-center pb-4" style="background-color:#1D2939;">
        <p class="text-light pt-3 fw-bold">Pihak yang terlibat</p>
        <img src="https://lh6.googleusercontent.com/vHBCUcN9KTED29SqzR21n6dNfhW-56IJt6_cxvX5oxdpdta1qWcqosN3h9BRQo3BG_o=w2400" class="img-fluid"style="height: 24px;"alt="">
        <img src="http://drive.google.com/uc?export=view&id=1SS9apWENXr-fnsWRDnVp0oEBv0DyIJob" class="img-fluid"style="height: 20px;"alt="">
      </div>
    </div>
  </div>