<!-- involved -->
<div id="involved">
    <div class="container pt-lg-5 pt-4">
      <div class="container rounded text-center" style="background-color:#1D2939;">
        <p class="text-light pt-3 fw-bold">Pihak yang terlibat</p>
        <img src="https://lh6.googleusercontent.com/HlJW2aXQtwjhkA6XWpBfye0y56JhNOY-zNhII8RZMwLdMh5v3XQ73p-Fm8h87aiZEWo=w2400" class="img-fluid"style="height: 24px;"alt="">
        <img src="https://lh5.googleusercontent.com/Wvse-D99cahuO-rU4QY4Fl_lHSghYFtkRQiCqiecgbNGzOXqyoUkvIf6JFd7R_W9IYA=w2400" class="img-fluid"style="height: 92px;"alt="">
      </div>
    </div>
  </div>