<!-- Recomendation -->
<div id="recomendation" class="container mt-4">
    <div class="container d-flex flex-row justify-content-between">
      <div class="container">
        <h1>Rekomendasi Produk</h1>
        <p>Berbagai jenis produk hasil karya UMKM kami</p>
      </div>
      <div class="container col-lg-4 text-end d-none d-sm-block ">
        <button type="button" class="btn btn-warning">Lihat Semua Katalog</button>
      </div>
    </div>
    <!-- desktop -->
    <div class="container d-lg-flex justify-content-between d-none d-sm-block">
        <div class="d-flex flex-column">
          <div class=""><img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" style="border-radius: 5%;" height="240"alt=""></div>
          <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
          <div class="fw-bold fs-4">Keripik Kentang</div>
          <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
        </div>
        <div class="d-flex flex-column">
          <div class=""><img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" style="border-radius: 5%;" height="240"alt=""></div>
          <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
          <div class="fw-bold fs-4">Keripik Kentang</div>
          <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
        </div>
        <div class="d-flex flex-column">
          <div class=""><img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" style="border-radius: 5%;" height="240"alt=""></div>
          <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
          <div class="fw-bold fs-4">Keripik Kentang</div>
          <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
        </div>
        <div class="d-flex flex-column">
          <div class=""><img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" style="border-radius: 5%;"height="240"alt=""></div>
          <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
          <div class="fw-bold fs-4">Keripik Kentang</div>
          <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
        </div>
    </div>
    <!-- mobile -->
    <div id="carouselExampleSlidesOnly" class="carousel slide d-md-none d-lg-none" data-bs-ride="carousel">
      <div class="container carousel-inner text-center">
        <div class="container carousel-item active">
          <div class="">
            <div class=""><img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" height="240"alt="" style="border-radius: 5%;"></div>
            <div style="background-color:#FEFBE8" class="mt-1 w-25 badge rounded-pill text-dark">Makanan Kering</div>
            <div class="fw-bold fs-4">Keripik Kentang</div>
            <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="">
            <div class=""><img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" height="240"alt="" style="border-radius: 5%;"></div>
            <div style="background-color:#FEFBE8" class="mt-1 w-25 badge rounded-pill text-dark">Makanan Kering</div>
            <div class="fw-bold fs-4">Keripik Kentang</div>
            <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="">
            <div class=""><img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" height="240"alt="" style="border-radius: 5%;"></div>
            <div style="background-color:#FEFBE8" class="mt-1 w-25 badge rounded-pill text-dark">Makanan Kering</div>
            <div class="fw-bold fs-4">Keripik Kentang</div>
            <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
          </div>
        </div>
      </div>
      <div class="container text-center pt-3">
        <button type="button" class="btn btn-warning">Lihat Semua Katalog</button>
      </div>
    </div>
  </div>