    <!-- hero -->
    <div id="hero" style="background-color:#FFFCF5">
        <div class="container text-center pt-3">
          <h1>Central IKM UMKM Kecamatan Pujon</h1>
          <p>UMKM Kuat Bangsa Berdaulat</p>
          <button type="button" class="btn btn-warning">Lihat Katalog</button>
        </div>
        <div class="container-fluid img-fluid" style="background-image: url(../ikmv2/assets/img/backgroundhero.png);">
          <div class="container text-center">
            <img src="../ikmv2/assets/img/persiapan.jpeg" class="img-fluid pt-3" alt="">
          </div>  
        </div>
      </div>