    <!-- hero -->
    <div id="hero">
        <div class="container mt-3">
            <p class="fw-bold" style="color: #B54708;">Blog Kami</p>
            <p class="fs-3 fw-bold">Produk IKM UMKM Kecamatan Pujon</p>
            <p class="col-lg-6">katalog dibawah merupakan produk-produk dari IKM dan UMKM sebagai peran aktif pihak terkait untuk mendorong produktivitas serta kemandirian IKM dan UMKM melalui literasi digital</p>
        </div>
    </div>
    <!-- catalog -->
    <div id="catalog">
        <div class="container">
            <div class="container">
                <div class="d-lg-flex flex-column justify-content-center">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" width="240" placeholder="Search" aria-label="Search">
                    </form>
                    <div class="container text-center">
                        <button type="button" class="btn btn-warning my-3 fw-bold">Unduh Katalog</button>
                        <p class="fw-bold">Kategori Produk</p>
                        <button type="button" class="btn">Lihat Semua</button>
                        <button type="button" class="btn">Makanan Kering</button>
                        <button type="button" class="btn">Makanan Basah</button>
                        <button type="button" class="btn">Minuman</button>
                        <button type="button" class="btn">Aksesoris</button>
                    </div>
                </div>
                <div class="d-lg-flex justify-content-lg-between justify-content-sm-center">
                    <div class="d-flex flex-column p-3">
                    <div class=""><img src="../assets/img/produk1.jpeg" class="img-fluid" style="border-radius: 5%;" height="180"alt=""></div>
                    <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
                    <div class="fw-bold fs-4">Keripik Kentang</div>
                    <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
                    </div>
                    <div class="d-flex flex-column p-3">
                    <div class=""><img src="../assets/img/produk2.jpeg" class="img-fluid" style="border-radius: 5%;" height="180"alt=""></div>
                    <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
                    <div class="fw-bold fs-4">Keripik Kentang</div>
                    <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
                    </div>    
                    <div class="d-flex flex-column p-3">
                    <div class=""><img src="../assets/img/produk1.jpeg" class="img-fluid" style="border-radius: 5%;" height="180"alt=""></div>
                    <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
                    <div class="fw-bold fs-4">Keripik Kentang</div>
                    <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
                    </div>
                    <div class="d-flex flex-column p-3">
                    <div class=""><img src="../assets/img/produk2.jpeg" class="img-fluid" style="border-radius: 5%;" height="180"alt=""></div>
                    <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
                    <div class="fw-bold fs-4">Keripik Kentang</div>
                    <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
                    </div>
                    <div class="d-flex flex-column p-3">
                    <div class=""><img src="../assets/img/produk1.jpeg" class="img-fluid" style="border-radius: 5%;" height="180"alt=""></div>
                    <div style="background-color:#FEFBE8" class="col-7 mt-2 badge rounded-pill text-dark">Makanan Kering</div>
                    <div class="fw-bold fs-4">Keripik Kentang</div>
                    <div class=""><a href="index.php" style="text-decoration: none; color:black;">Dela Muda</a></span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>