    <div class="container-fluid p-lg-5 text-center img-fluid" style="background-image: url(https://lh3.googleusercontent.com/sGBJ-0sdwjWBCV0sKMH8RUMPUL1swfoRzSY20VdGg3B4wQfEwGvYp5rbprt1-38XIbI=w2400);">
        <div class="container d-flex p-lg-5 flex-column">
            <h1>Profil IKM UMKM Kecamatan Pujon</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem molestiae fugiat nesciunt laboriosam tempora maiores odit incidunt saepe tempore, pariatur aperiam esse unde quisquam?</p>
            <div class="d-flex col-lg-4 align-self-center pt-lg-5">
                <input class="form-control me-2" width="336px" type="search" placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>
    <div id="card" class="container mt-3">
        <div class="row d-flex justify-content-between">
          <div class="col-lg">
            <div class="card pt-3 px-3 pb-1">
              <img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" class="card-img-top img-fluid" width="336px" alt="...">
              <div class="card-body">
                <h4 class="card-title">Arisy Musyafa</h4>
                <p class="card-text">This is a short description of card 1.</p>
                <h5>UD. Berkah Jaya</h5>
                <p>Sejak Tahun 2012</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="card pt-3 px-3 pb-1">
              <img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" class="card-img-top img-fluid" width="336px" alt="...">
              <div class="card-body">
                <h4 class="card-title">Arisy Musyafa</h4>
                <p class="card-text">This is a short description of card 2.</p>
                <h5>UD. Berkah Jaya</h5>
                <p>Sejak Tahun 2012</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="card pt-3 px-3 pb-1">
              <img src="https://lh4.googleusercontent.com/21JKU08_lRAcreQiSuJx1kI1g1I6_Fnsq0X7FrZLxhxplWaK1VYOVqcLVD7yUnVfGuw=w2400" class="card-img-top img-fluid" width="336px" alt="...">
              <div class="card-body">
                <h4 class="card-title">Arisy Musyafa</h4>
                <p class="card-text">This is a short description of card 3.</p>
                <h5>UD. Berkah Jaya</h5>
                <p>Sejak Tahun 2012</p>
              </div>
            </div>
          </div>
        </div>
      </div>